<header>
	<nav>
		<ul>
			<li><a href="/" class="<%= path == '/' ? 'active' : '' %> ">Home</a></li>
			<li><a href="/add-player" class="<%= path == '/add-player' ? 'active' : '' %> ">Add Player</a></li>
		</ul>
	</nav>
</header>